In [1]:
pip install psycopg2 sqlalchemy

Requirement already satisfied: psycopg2 in c:\users\azria\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in c:\users\azria\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\azria\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import psycopg2 as pg2
from sqlalchemy import create_engine

### Reading csv files and creating their respective tables in a database

In [3]:
engine = create_engine("postgresql+psycopg2://postgres:password@localhost:5432/kotaksakti")

In [4]:
customers = pd.read_csv('customers.csv')
invoices = pd.read_csv('invoices.csv')
invoice_lines = pd.read_csv('invoice_lines.csv')

In [5]:
customers.to_sql(name = 'customers', con = engine, if_exists = 'replace', index = False)
invoices.to_sql(name = 'invoices', con = engine, if_exists = 'replace', index = False)
invoice_lines.to_sql(name = 'invoice_lines', con = engine, if_exists = 'replace', index = False)

8

In [6]:
conn = pg2.connect(database = 'kotaksakti', user = 'postgres', password = 'password')

### Number of customers purchasing more than 5 books

In [7]:
cur = conn.cursor()

In [15]:
cur.execute("""
    WITH customers_purchased AS(
    SELECT
        t1.name
        , SUM(t3.quantity) AS books_purchased
    FROM customers AS t1
    INNER JOIN invoices AS t2 ON t1.id = t2.customer_id
    INNER JOIN invoice_lines AS t3 ON t2.id = t3.invoice_id
    GROUP BY 1
    )

    SELECT COUNT(*) AS customers_num
    FROM customers_purchased
    WHERE books_purchased > 5
    """)

In [16]:
cur.fetchall()

[(2,)]

### List of customers who never purchased anything

In [13]:
cur.execute("""
    WITH customers_purchased AS(
    SELECT
        t1.name
        , SUM(t3.quantity) AS books_purchased
    FROM customers AS t1
    FULL OUTER JOIN invoices AS t2 ON t1.id = t2.customer_id
    FULL OUTER JOIN invoice_lines AS t3 ON t2.id = t3.invoice_id
    GROUP BY 1
    )

    SELECT name
    FROM customers_purchased
    WHERE books_purchased IS NULL
    """)

In [14]:
cur.fetchall()

[('Isham Rais',), ('Faiz Ma',)]

### List of book purchased with the users

In [17]:
cur.execute("""
    WITH customers_purchased AS(
    SELECT
        t3.description
        , t1.name
    FROM customers AS t1
    INNER JOIN invoices AS t2 ON t1.id = t2.customer_id
    INNER JOIN invoice_lines AS t3 ON t2.id = t3.invoice_id
    )

    SELECT *
    FROM customers_purchased
    ORDER BY 1,2
    """)

In [18]:
cur.fetchall()

[('Book #1', 'Irfan Bakti'),
 ('Book #1', 'Jack Smmith'),
 ('Book #1', 'Nazir'),
 ('Book #1', 'Shanon Teoh'),
 ('Book #2', 'Jack Smmith'),
 ('Book #2', 'Nazir'),
 ('Book #3', 'Jack Smmith'),
 ('Book #3', 'Shanon Teoh')]